@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);  /* #FFFB97 */
    --orange: rgb(254, 127, 66);   /* #FE7F42 */
    --maroon: rgb(179, 44, 26);    /* #B32C1A */
    --gray: rgb(122, 75, 71);      /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);  /* #2A1617 */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Raleway', 'Inter', sans-serif; 
    background-color: rgb(245, 245, 245);
} 

header { 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 0;
}

.logo img { 
    /* height: 100%;  */
    max-height: 80px;
    max-width: 80px;
    margin-left: 50px;
}

.tabs {
    margin-left: 300px;
    padding: 0;
    transition: background-color 1s, color 1s;
}

.tabs ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.tabs ul li { 
    display: inline-block; 
    margin-right: 60px; 

}

.tabs ul li a { 
    text-decoration: none; 
    color: var(--dark-gray);
    font-weight: 600;
    padding: 10px 18px;
    font-size: 15px;
}

.tabs ul li a:hover { 
    background-color: rgba(255, 158, 0, 0.18);
    color: var(--orange); 
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 15px;
}

.active-tab {
    background-color: rgba(255, 158, 0, 0.18);
    color: var(--orange);
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 15px;
}

.tabs ul li a.active-tab {
    background-color: rgba(255, 158, 0, 0.18);
    color: var(--orange);
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 15px;
}

.profile { 
    border: black solid; 
    border-width: 1px; 
    height: 40px; 
    width: 40px; 
    border-radius: 50%; 
    background-color: white; 
    margin-left: 218px; 
}

.hr-container {
    width: 100%;    
    text-align: center; 
}
    
hr {
    border: none;      
    height: 2px;            
    background-color: var(--gray); 
    margin: 0 auto;             
    width: 100%;    
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 60px; /* added */
}

.tenants {
    margin: 0;
    margin-left: -1em;
}

.tenants p {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: -5px;
}

body#blur.active .content-container{
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 20.7em;
    left: 54em;
    transform: translate(-50%, -50%);
    width: 55em;
    height: 37em;
    padding: 20px;
    padding-left: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background: white;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    border-radius: 1em;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.tenants-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 18.5em;
}

.tenants-container a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.tenants-container a:hover {
    text-decoration: none;
    color: inherit;
    display: block;
}

.seemore-container a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.seemore-container a:hover {
    text-decoration: none;
    color: inherit;
    display: block;
}

.tenant-container {
    background-color: rgba(255, 158, 0, 0.13);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    height: 6.5em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.tenant-container p {
    letter-spacing: 0;
    font-size: 19px;
    position: relative;
    left: 1.2em;
    margin-top: 16px;
}

.tenant-profile {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: 8px;
    left: 20px; 
}

/* for tenant deets */
#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: var(--dark-gray);
    cursor: pointer;
}

.deets-profile {
    background-color: rgb(222, 220, 220);
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.name {
    position: relative;
    top: -4em;
    left: 4.5em;
    font-size: 25px;
    font-weight: 600;
}

.deets {
    display: flex;
    position: relative;
    top: -8.4em;
    left: 7.2em;
}

.deets p {
    font-size: 14px;
    color: var(--maroon);
    display: flex;
    align-items: center;
}

.deets span {
    margin-right: 1.5em;
}

.deets span:last-child {
    margin-right: 0;
}

.deets .material-icons {
    font-size: 16px;
    color: var(--maroon);
    vertical-align: middle;
}

.left-deets, .right-deets {
    list-style: none;
    padding: 0;
    margin: 0;
}

.deets-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    position: relative;
    top: -100px;
}

.left-deets li, .right-deets li {
    margin-bottom: 1em;
    /* added */
    align-items: flex-start;
    width: 100%;
}

.right-deets li {
    margin-right: 4em;
}

.left-deets span, .right-deets span {
    margin-right: 1.5em;
}

.que {
    color: var(--maroon);
    font-weight: 600;
    font-size: 15px;
    min-width: 12em;
    text-align: left;
    flex-shrink: 0;
}

.ans {
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 15px;
    /* display: inline-flex;
    justify-content: flex-start; */
    flex-grow: 1;
    text-align: left;
    word-wrap: break-word;
    margin-left: 2em;
}

.deets-title {
    position: relative;
    top: -4.5em;
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-gray);
}

.seemore {
    background-color: white;
    height: 2.5em;
    width: 16em;
    margin: 5px auto;
    border-radius: 2em;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.seemore p {
    letter-spacing: 0;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: var(--dark-gray);
    font-weight: 600;
    position: relative;
    left: 2.8em;
    top: 2px;
}

.count {
    background-color: var(--gray); 
    height: 2em; 
    width: 2em;
    border-radius: 50%; 
    margin-right: 10px; 
    display: inline-block;
    text-align: center;
    line-height: 2em; 
    color: white; 
    font-weight: bold;
    position: absolute;
    left: 7px; 
    top: 3.5px;
}

.admin {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25px; 
    margin-top: 1em;
}

.main-profile {
    background-color: rgb(227, 224, 224);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.admin-details {
    /* display: inline-block; */
    position: relative;
    top: -2.9em;
    left: 4.5em;
    line-height: 10px;
}

.admin-details .admin-name {
    font-weight: 700;
    color: var(--dark-gray);
    font-size: 25px;
}

.admin-details .admin-desc {
    color: var(--gray);
    font-size: 15px;
}

.announcement-overview {
    margin-top: -3.2em;
}

.announcement-overview p {
    font-size: 18px;
}

.announcement-overview span {
    position: relative;
    top: -2.6em;
    left: 9.4em;   
}

.announcement-container, .management-container {
    margin-top: -2em;
    background-color: white;
    height: 11em;
    width: 34em;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.management-overview p {
    font-size: 18px;
}

.management-overview span {
    position: relative;
    top: -2.6em;
    left: 7.9em; 
}

.analytics {
    width: auto;
    display: flex;
    flex-direction: column;
    /* position: relative; */
} 

.analytics p {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    left: 4em;
    top: 10px;
}

.analytic1 .icon, .analytic3 .icon {
    margin-top: 0.5em;
    margin-left: 3.6em;
    background-color: white;
    height: 8em;
    width: 11em;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.analytic2 .icon, .analytic4 .icon {
    margin-left: 15.5em;
    margin-top: -8em;
    background-color: white;
    height: 8em;
    width: 11em;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.analytic5 .icon {
    margin-top: 0.5em;
    margin-left: 4em;
    background-color: white;
    height: 12.5em;
    width: 22.5em;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}