@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);
    /* #FFFB97 */
    --orange: rgb(254, 127, 66);
    /* #FE7F42 */
    --maroon: rgb(179, 44, 26);
    /* #B32C1A */
    --gray: rgb(122, 75, 71);
    /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);
    /* #2A1617 */
    --background-color: rgb(245, 245, 245);
    /*DARK MODE COLORS*/
    --background: #2A1617;
    --brownish-yellow: #FF9E0066;
    --brown: #995F0066;
    --text: #FCFAC3;
}

.dark-theme {
    --background-color: #2A1617;  
    --text-color: #FCFAC3;   
    --brownish-yellow: #FF9E00;   
    --brown: #995F00; 
    --red: #D20000;
    --d-yellow: #FAB020;
    --white: #fff;
    --dark-brown: #331800;
    --light-brown: #654321;
    --dark-grey: #0c0807;
    --dimgray: #696969;
    --reddish-brown: #DB6D5E;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow-y: auto;
}

.dark-theme body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    padding: 0 10px;
    border-bottom: 1px solid var(--orange);
    background-color: var(--background-color) !important;
}

.dark-theme .navbar {
    padding: 0 10px;
    background-color: var(--navbar-bg) !important;
    border-bottom: 1px solid var(--brown);
}

.navbar-brand {
    padding: 0 8px;
    margin: 0;
    transition: opacity 0.3s ease;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    color: var(--dark-gray) !important;
    padding: 8px 18px;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dark-theme .nav-link {
    font-weight: 600;
    font-size: 16px;
    color: var(--white) !important;
    padding: 8px 18px;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.dark-theme .nav-link:hover,
.dark-theme .nav-link.active {
    color: var(--text) !important;
    background: linear-gradient(to right, var(--brown), var(--light-brown), var(--dark-brown));
    transform: scale(1.05);
}

.active-tab {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.nav-link.active-tab {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.user-pic {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    cursor: pointer; 
    object-fit: cover; 
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
}

.sub-menu-wrap.open-menu {
    max-height: 440px;
}

.sub-menu {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.dark-theme .sub-menu {
    background: var(--dark-grey);
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    color: var(--gray);
    font-size: 20px;
}

.dark-theme .user-info h3 {
    font-weight: 500;
    color: var(--white);
    font-size: 20px;
}


.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover; 
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--maroon);
    margin: 15px 0 10px;
}

.dark-theme .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--brownish-yellow);
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    margin: 12px 0;
}

.dark-theme .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    line-height: 40px;
    margin: 0;
    flex: 1;
}

.sub-menu-link .material-icons {
    background: rgb(210, 209, 209);
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.dark-theme .sub-menu-link .material-icons {
    background: var(--dimgray);
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--maroon);
    border-radius: 10px; 
    border: 2px solid #fff;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--maroon);
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;  
    border-radius: 2px;  
}

body::-webkit-scrollbar-track:hover {
    background: #e1e1e1; 
}

.container {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container-title {
    text-align: left;  
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 100%;   
    color: var(--dark-gray);
}

.dark-theme .container-title {
    text-align: left;  
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 100%;   
    color: #F6F6E6;
}

.modal-icon {
    color: var(--dark-gray);  
    font-size: 50px;
    margin-right: 20px;
}

.dark-theme .modal-icon {
    color: #F6F6E6;  
    font-size: 50px;
    margin-right: 20px;
}

.row-container {
    display: flex;
    flex-wrap: wrap; 
    row-gap: 30px;  
    justify-content: flex-start;  
    margin-bottom: 20px;
    column-gap: 50px;
}

.card {
    flex: 1 1 calc(33.333% - 40px);  
    max-width: 500px;  
    min-width: 400px; 
    border: 3px solid var(--orange); 
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
}

.dark-theme .card {
    flex: 1 1 calc(33.333% - 40px);  
    max-width: 500px;  
    min-width: 400px; 
    border: 3px solid #FC8042; 
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #4B2B2D;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: transparent;
    position: relative;
    border-bottom: transparent !important;
}

.card-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;  
    transform: translateX(-50%);  
    width: 90%; 
    border-bottom: 2px solid var(--orange);  
}

.dark-theme .card-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;  
    transform: translateX(-50%);  
    width: 90%; 
    border-bottom: 2px solid rgba(246, 246, 230, 1);  
}


.card-header img {
    border-radius: 50%; 
    object-fit: cover;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
    border: 1px solid var(--orange);
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.dark-theme .card-header img {
    border-radius: 50%; 
    object-fit: cover;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
    border: 1px solid rgba(246, 246, 230, 1);
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    margin-left: 10px;
    color: var(--dark-gray);
}

.dark-theme .card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    margin-left: 10px;
    color: #F6F6E6;
}

.preview-word {
    margin-top: -10px;
    color: var(--gray);
    font-weight: 500;
}

.dark-theme .preview-word {
    margin-top: -10px;
    color: #F6F6E6;
    font-weight: 500;
}

.card-body {
    padding: 15px;
}

.preview-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preview-info {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.preview-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.dark-theme .preview-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #F6F6E6;
}

.preview-info .title {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--gray);
    opacity: 0.7;
}

.dark-theme .preview-info .title {
    font-weight: 600;
    margin-bottom: 5px;
    color: #F6F6E6;
    opacity: 0.7;
}

.assign-btn {
    display: inline-block;
    background: linear-gradient(to right, var(--orange), var(--maroon), var(--gray));
    color: white;
    padding: 5px 40px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    float: right;
    margin-top: 12px;
    font-weight: 500;
}

.dark-theme .assign-btn {
    display: inline-block;
    background: linear-gradient(to right, #FF9E0080, #995F0080);
    color: white;
    padding: 5px 40px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    float: right;
    margin-top: 12px;
    font-weight: 500;
}

.assign-btn:hover {
    background: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    font-weight: 700;
}

.dark-theme .assign-btn:hover {
    background: transparent;
    color: var(--d-yellow);
    border: 1px solid #FF9E0080;
    font-weight: 700;
}

.more-icon {
    cursor: pointer;
    font-size: 24px;
    z-index: 20;
    position: relative; 
}

.dark-theme .more-icon {
    cursor: pointer;
    font-size: 24px;
    z-index: 20;
    position: relative; 
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60%; 
    right: 0;  
    left: 60%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 30;
}

.dropdown-menu.show {
    display: block;
}

.btn-danger {
    width: 140px;
    border: none;
    background-color: rgb(242, 236, 236); 
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000; 
}

.btn-danger:hover {
    background-color: rgb(229, 226, 226); 
    opacity: 0.8;
    color: black;
}


.modal-dialog-right {
    position: absolute;
    top: 15px; 
    right: 15px;
    margin: 0;
    height: calc(100% - 30px);  
    width: 30%;  
    max-width: none;
}

.modal-content {
    height: 100%;  
    overflow: hidden;  
    background-color: transparent;  
    display: flex;
    flex-direction: column;  
    border-radius: 0; 
    box-shadow: none;  
    border: none;
}

.modal-top {
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    position: relative;
    flex: 0 0 30%;
    display: flex;  
    flex-direction: column;  
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
}

.dark-theme .modal-top {
    border-radius: 30px;
    background-color: #F6F6E6;
    padding: 15px;
    position: relative;
    flex: 0 0 30%;
    display: flex;  
    flex-direction: column;  
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
}

.modal-title {
    font-weight: 700;
    margin-right: 40px; 
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 1.2rem;
    border: none;
    background: none;
    padding: 5px;
    color: #000;
    z-index: 1;
    font-weight: 600;
}

.btn-close:hover {
    opacity: 0.8;
    cursor: pointer;
}

.tenant-info {
    display: flex;  
    align-items: center; 
    margin-top: 15px;
}

.modal-picture {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
    border: 1px solid var(--orange);
    margin-left: 15px;
}

.dark-theme .modal-picture {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
    border: 1px solid #7B4B47;
    margin-left: 15px;
}

.modal-card-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: var(--gray);
    flex-grow: 1; 
}

.modal-hr {
    background-color: var(--orange);  
    height: 3px;  
    border: none; 
    margin: 10px 0; 
    margin-top: 20px;
}

.dark-theme .modal-hr {
    background-color: #7B4B47;  
    height: 3px;  
    border: none; 
    margin: 10px 0; 
    margin-top: 20px;
}

.roomNum {
    color: var(--gray);
    font-weight: 700;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
}

.modal-middle {
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    flex: 0 0 40%;
    display: flex; 
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
    gap: 15px;
}

.dark-theme .modal-middle {
    border-radius: 30px;
    background-color: #F6F6E6;
    padding: 15px;
    flex: 0 0 40%;
    display: flex; 
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
    gap: 15px;
}

.dynamic-description {
    background-color: #F6F6E6;
    height: 150px;
    border-radius: 10px;
    font-size: 12px; 
    line-height: 1.5; 
    padding: 10px; 
    display: flex; 
    align-items: left;
    justify-content: left;
    border: 2px solid #FF7F42;
}

.dark-theme .dynamic-description {
    background-color: #4B2B2D;
    height: 150px;
    border-radius: 10px;
    color: var(--text-color); 
    font-size: 12px; 
    line-height: 1.5; 
    padding: 10px; 
    display: flex; 
    align-items: left;
    justify-content: left;
    border: 2px solid var(--brownish-yellow) 
}

.deets-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;  
    padding-left: 23px;  
    width: 100%; 
    flex-shrink: 0; 
}

.first {
    margin-left: 0;
    margin-top: -80px;
}


.deets-info {
    flex: 1;
    margin-right: 10px;
    text-align: left;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}

.deets-info p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
}

.deets-info .deets-title {
    font-weight: 500;
    margin-bottom: 5px;
    color: black;
}

.modal-bottom {
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    flex: 0 0 30%;
    padding-left: 30px;
}

.dark-theme .modal-bottom {
    border-radius: 30px;
    background-color: #F6F6E6;
    padding: 20px;
    flex: 0 0 30%;
    padding-left: 30px;
}

.modal-bottom h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray);
}

.modal-bottom form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.modal-bottom form .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;  
}

.modal-bottom form label {
    flex: 0 0 30%;  
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
}

.modal-bottom form input,
.modal-bottom form select {
    flex: 1; 
    max-width: 60%;  
    background-color: #f0efef;  
    border: 1px solid transparent;  
    padding: 6px; 
    font-size: 14px;  
    border-radius: 4px;  
}

.modal-bottom form input:focus,
.modal-bottom form select:focus {
    outline: none;  
    box-shadow: 0 0 2px 2px rgba(254, 127, 66, 0.5); 
    border-color: rgba(254, 127, 66, 0.5);  
}

.btn-primary {
    display: inline-block;
    background: linear-gradient(to right, var(--orange), var(--maroon), var(--gray));
    color: white;
    padding: 6px 25px;  
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    margin-top: 12px;
    font-weight: 500;
    margin-left: auto;  
    text-align: center; 
    min-width: 150px;  
    width: auto;  
}

.dark-theme .btn-primary {
    display: inline-block;
    background: linear-gradient(to right, #FF9E0080, #995F0080);
    color: white;
    padding: 6px 25px;  
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    margin-top: 12px;
    font-weight: 500;
    margin-left: auto;  
    text-align: center; 
    min-width: 150px;  
    width: auto;  
}

.btn-primary:hover {
    background: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    font-weight: 700;
}

.dark-theme .btn-primary:hover {
    background: transparent;
    color: var(--d-yellow);
    border: 1px solid var(--d-yellow);
    font-weight: 700;
}

.empty-card {
    flex: 1 1 calc(33.333% - 40px);  
    max-width: 500px;  
    min-width: 400px; 
    height: 250px;   
    background-color: #f0f0f0;   
    border: 1px solid #ccc;    
    visibility: hidden;       
    margin-bottom: 10px;
}


.row-container > .card:nth-child(3n + 1) {
    margin-left: 0;
}

.dark-theme .form-control{
    border: 1px solid var(--d-yellow); 

}

.dark-theme .form-select{
    border: 1px solid var(--d-yellow); 

}