@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);  /* #FFFB97 */
    --orange: rgb(254, 127, 66);   /* #FE7F42 */
    --maroon: rgb(179, 44, 26);    /* #B32C1A */
    --gray: rgb(122, 75, 71);      /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);  /* #2A1617 */
    --background-color: rgb(245, 245, 245);
}

.dark-theme {
  --background-color: #2A1617;  
  --text-color: #FCFAC3;   
  --brownish-yellow: #FF9E00;   
  --brown: #995F00; 
  --red: #D20000;
  --d-yellow: #FAB020;
  --white: #fff;
  --dark-brown: #331800;
  --light-brown: #654321;
  --dark-grey: #0c0807;
  --dimgray: #696969;
  --reddish-brown: #DB6D5E;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Raleway', 'Inter', sans-serif; 
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow: hidden;
} 

.dark-theme body {
  background-color: var(--background-color);
  color: var(--text-color);
} 

.navbar {
    padding: 0 10px;
    border-bottom: 1px solid var(--orange);
    background-color: var(--background-color) !important;
}

.dark-theme .navbar {
  padding: 0 10px;
  background-color: var(--navbar-bg) !important;
  border-bottom: 1px solid var(--brown);
}

.navbar-brand {
    padding: 0 8px;
    margin: 0;
    transition: opacity 0.3s ease;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    color: var(--dark-gray) !important;
    padding: 8px 18px;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dark-theme .nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #F6F6E6 !important;
  padding: 8px 18px;
  border-radius: 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover, 
.nav-link.active {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.dark-theme .nav-link:hover,
.dark-theme .nav-link.active {
    color: var(--text-color) !important;
    background: linear-gradient(to right, var(--brown), var(--light-brown), var(--dark-gray));
    transform: scale(1.05);
}

.active-tab {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.nav-link.active-tab {
    color: var(--orange) !important;
    background-color: rgba(255, 158, 0, 0.18);
    transform: scale(1.05);
}

.user-pic {
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  cursor: pointer; 
  object-fit: cover; 
  display: block;
  overflow: hidden; 
  aspect-ratio: 1 / 1; 
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 1000;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.dark-theme .sub-menu {
  background: var(--dark-grey);
  padding: 20px;
  margin: 10px;
  border-radius: 1em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500; 
    color: var(--gray);
    font-size: 20px;
}

.dark-theme .user-info h3 {
  font-weight: 500;
  color: var(--white);
  font-size: 20px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover; 
  display: block;
  overflow: hidden; 
  aspect-ratio: 1 / 1; 
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--maroon);
    margin: 15px 0 10px;
}

.dark-theme .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--brownish-yellow);
  margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    margin: 12px 0;
}

.dark-theme .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    line-height: 40px;
    margin: 0;
    flex: 1;
}

.sub-menu-link .material-icons {
    background: rgb(210, 209, 209);
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.dark-theme .sub-menu-link .material-icons {
  background: var(--white);
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border: 1px solid var(--white); 
}


.dark-theme .container {
  background-color: #ffffff00; 
  border: 1px solid var(--d-yellow);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}

.dark-theme header h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white) !important;
}

.row .col-6 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
  text-align: left; 
  color: var(--dark-gray);
}

.dark-theme .row .col-6 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
  text-align: left; 
  color: #F6F6E6;
}

.header-content {
  display: flex;
  align-items: center;  
  justify-content: flex-start; 
}

.title-icon {
  font-size: 45px;
  margin-right: 10px; 
  color: var(--dark-gray);
}

.dark-theme .title-icon {
  font-size: 45px;
  margin-right: 10px; 
  color: #F6F6E6 !important;
}

h1 {
  font-weight: 600;
  margin: 0;
  font-size: 40px;
}

p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 15px;
}

.col-6 .d-flex {
  display: flex;
  justify-content: flex-end;  
  align-items: center;       
  gap: 20px;                   
  width: 100%;                
}

.search-bar {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;                
  max-width: 300px;
}

.dark-theme search-bar {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;                
  max-width: 300px;
  color: var(--background-color) !important;
}

.search-bar input {
  width: 100%;                
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  transition: box-shadow 0.3s;
  height: 40px;
}

.dark-theme .search-bar input {
  width: 250px;
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  border: 1px solid var(--white);
  border-radius: 8px;
  transition: box-shadow 0.3s;
  height: 40px;
  background: transparent;
  color: var(--white);
}

 .add-room-button {
  background: linear-gradient(to right, var(--orange), var(--maroon), var(--gray));
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;  
  flex-shrink: 0;  
}

.dark-theme .add-room-button {
  background: linear-gradient(to right, var(--brownish-yellow), var(--brown), var(--light-brown));
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;  
  flex-shrink: 0;  
}

.add-room-button i {
  color: white;
}

.add-room-button:hover {
  background: rgba(254, 127, 66, 0.8);
  border: none;
  color: white;
  transform: scale(1.02);  
}

.dark-theme .add-room-button:hover {
  background: var(--d-yellow);
  border: none;
  color: white;
  transform: scale(1.02);  
}

 .search-bar input:focus {
  box-shadow: 0px 0px 8px rgba(254, 127, 66, 0.5);
  outline: none;
}


 .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-icon i {
  color: #6c757d;
  font-size: 20px;
}

.dark-theme search-icon i {
  color: var(--white);
  font-size: 20px;
}

.dark-theme .search::placeholder {
  color: var(--white);
}

.manage-button {
  background-color: var(--orange); 
  color: white;
  font-weight: 600;
  padding: 6px 25px;
  border-radius: 20px;
  border: none;
  border: 1px solid transparent; 
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

.dark-theme .manage-button {
  background-color: var(--d-yellow); 
  color: white;
  font-weight: 600;
  padding: 6px 25px;
  border-radius: 20px;
  border: none;
  border: 1px solid transparent; 
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}


.manage-button:hover {
  background-color: white;
  border: 1px solid var(--d-yellow);
  color: var(--d-yellow);
  transform: scale(1.02); 
}

.delete-button {
  background-color: var(--maroon); 
  color: white;
  font-weight: 600;
  padding: 6px 25px;
  border-radius: 20px;
  border: 1px solid transparent; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background-color: white;
  border: 1px solid var(--maroon);
  color: var(--maroon);
  transform: scale(1.02); 
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.dark-theme table { 
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF00 !important;
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

thead tr:first-child th {
  background-color: var(--maroon) !important;
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 20px; 
  text-align: center !important;
  font-size: 14px;
  border-bottom: 2px solid var(--brown);
  border-right: 2px solid var(--brown);
}

.dark-theme thead tr:first-child th {
  background-color: var(--brown) !important;
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 20px;
  text-align: center !important;
  font-size: 14px;
  border-bottom: 2px solid var(--brown);
  border-right: 2px solid var(--brown);
  
}

table td {
  text-align: left;
  padding: 16px 20px; 
  font-size: 14px;
  color: var(--dark-gray);
  border-bottom: 1px solid rgba(139, 69, 19, 0.7);
  transition: background-color 0.2s ease, transform 0.2s ease; 
}

.dark-theme table td {
  text-align: left;
  padding: 16px 20px; 
  font-size: 14px;
  color: var(--white);
  border-bottom: 1px solid var(--brown) !important;
  transition: background-color 0.2s ease, transform 0.2s ease; 
}

table th, table td {
  border-color: none !important; 
  color: var(--maroon);
}

.dark-theme table th, table td {
  border: none !important;
  background-color: transparent !important;
  color: var(--white);
}

thead.maroon-header th {
  background-color: var(--maroon); 
  color: white;  
  text-align: center;  
  padding: 10px; 
  font-weight: bold;  
  border: 1px solid var(--gray);  
}

.dark-theme thead.maroon-header th {
  background-color: rgb(255, 157, 0); 
  color: white;  
  text-align: center;  
  padding: 10px; 
  font-weight: bold;  
  border: 2px solid var(--brown) !important;  
}

.modal-title {
  font-weight: 700;
  color: black;
  margin-left: 10px;
  font-size: 22px;
}

.totalSlot {
  background-color: var(--maroon); 
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.dark-theme totalSlot {
  background-color: var(--maroon); 
  color: white !important;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.rentedSlot {
  background-color: #FFCE1B; 
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.dark-theme rentedSlot {
  background-color: #FFCE1B; 
  color: white !important;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.remainingSlot {
  background-color: var(--orange); 
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.dark-theme remainingSlot {
  background-color: var(--orange); 
  color: white !important;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent; 
  font-size: 14px;
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--maroon);
  border-radius: 10px;
  border: 2px solid #fff;
}

.dark-theme table-container::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 10px;
  border: 2px solid #fff;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--maroon);
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}
