@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);
    /* #FFFB97 */
    --orange: rgb(254, 127, 66);
    /* #FE7F42 */
    --maroon: rgb(179, 44, 26);
    /* #B32C1A */
    --gray: rgb(122, 75, 71);
    /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);
    /* #2A1617 */
    --background-color: rgb(245, 245, 245);
}

.dark-theme {
    --background-color: #2A1617;  
    --text-color: #FCFAC3;   
    --brownish-yellow: #FF9E00;   
    --brown: #995F00; 
    --red: #D20000;
    --d-yellow: #FAB020;
    --white: #fff;
    --dark-brown: #331800;
    --light-brown: #654321;
    --dark-grey: #0c0807;
    --dimgray: #696969;
    --reddish-brown: #DB6D5E;
    --red-brown: #4B2B2D;
    --redy-brown: #4F2124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    height: 100%;

}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    overflow: auto;
    gap: 20px; 
}

.dark-theme .dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: auto;
    gap: 20px; 
}

.sidebar {
    position: sticky;
    top: 0;
    background-color: #F4F4F4;
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.dark-theme .sidebar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .sidebar-card {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.logo-img {
    width: 140px;
    height: auto;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white !important;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
}

.sidebar-item a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.dark-theme .sidebar-item a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar-item:hover a {
    color: white;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item.active {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.sidebar-item.active a {
    color: white;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
}

.dark-theme .sidebar p {
    font-size: 0.9em;
    color: white;
}


.sidebar-nav .menu-title {
    font-weight: 700;
    color: var(--dark-gray);
    margin-left: 5px;
}

.tracker {
    margin-top: 40px;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.dark-theme .logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.dark-theme .logout-button i {
    margin-right: 10px;
    color: white;
}

.logout-button:hover i {
    color: white;
}

.logout-button:hover span {
    color: white;
}

main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--maroon);
    border-radius: 10px;
    border: 2px solid #fff;
}

main::-webkit-scrollbar-thumb:hover {
    background-color: var(--maroon);
}

main::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

main::-webkit-scrollbar-track:hover {
    background: #e1e1e1;
}



.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.announcement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding: 15px 10px;
    margin-bottom: 20px;
}

.header-left {
    margin-left: 0x;
}

.header-right {
    margin-right: 50px;
}

.header-left h3 {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 0px;
}


.dark-theme .header-left h3 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 0px;
}

.header-left h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    margin: 0;
   
}

.dark-theme .header-left h1 {
    font-size: 2.5em;
    color: var(--reddish-brown);
    font-weight: bold;
    margin: 0;
   
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}

.header-left {
    margin-left: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.date-picker {
    font-size: 1em;
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.notification-icon {
    font-size: 1.5em;
    color: #555;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
}

.dark-theme .notification-icon {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 0px;
}

.notification-icon:hover {
    color: #FF6B45;
    transition: color 0.3s ease;
}

.permanent-notices {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    padding: -15px;
    border-radius: 10px;
    color: white;
    max-height: 90%;
    width: 100%;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;    
}

.notices-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 350px);
    padding-right: 10px;
}

.main-content {
    flex: 1;
    padding: 30px;
    margin-left: 20px;
    transition: all 0.35s ease-in-out;
}

.sidebar {
    background-color: #F4F4F4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    max-width: 250px;
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    flex-grow: 1;
    height: 90;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.8;
}

.menu-title {
    font-weight: bold;
    color: #0a0a0a;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    line-height: 2.5;
}

.menu ul li.active a {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

.menu ul li a:hover,
.tracker ul li a:hover {
    color: #FF6B45;
}


.menu ul li.active a,
.tracker ul li.active a {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.logout-button:hover {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

.tracker ul {
    list-style: none;
}

.tracker ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 8px;
    line-height: 2.5;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.logout-button:hover i {
    color: white;
    transition: color 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

/* Main Content */
.main-content {
    margin-left: 0px;
    background-color: transparent;
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px;
    width: 100%;
    margin-top: 10px;
}

.announcement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.announcement-header h1 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.announcement-header h2 {
    font-size: 18px;
    color: #555;
}


.pinned-section h3,
.new-section h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.pinned-section h3 i,
.new-section h3 i {
    margin-right: 10px;
}



/* Announcement Cards */
.announcement-card {
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}




.announcement-date h4 {
    font-size: 14px;
    color: #000;
    margin: 0;
}




.orange-line {
    width: 100%;
    height: 2px;
    background-color: #b33718;
    margin: 5px 0;
}




.announcement-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0;
}




.announcement-content p {
    font-size: 14px;
    color: #f1ecec;
    margin-top: 10px;
}




/* Permanent Notices Section */
.permanent-notices {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    padding: 15px;
    border-radius: 10px;
    color: white;
    max-height: 90%;
    width: 100%;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




.permanent-notices h2 {
    font-size: 18px;
    /* text size*/
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}




/* Scrollable Section */
.notices-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 350px);
    /* Adjusted height */
    padding-right: 10px;
}




.notices-scroll ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.permanent-card {
    background-color: #FFF;
    color: #555;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}




.permanent-card h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}




.permanent-card p {
    margin: 5px 0;
}




/* Scrollbar Customization */
.notices-scroll::-webkit-scrollbar {
    width: 10px;
}




.notices-scroll::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 5px;
}




.notices-scroll::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);


}

/* Filter navigation */
.filter-nav {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}




/* Filter link styling */
.filter-link {
    text-decoration: none;
    color: white;
    /* text color */
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ff440b;
    transition: background-color 0.3s, color 0.3s;

}

.dark-theme .filter-link {
    text-decoration: none;
    color: white;
    /* text color */
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--brownish-yellow);
    transition: background-color 0.3s, color 0.3s;

}




/* Hover effect for filter links */
.filter-link:hover {
    background-color: #680202;
    color: white;
}

.dark-theme .filter-link:hover {
    background-color: var(--brown);
    color: white;
}




/* Active filter link styling */
.filter-link.active {
    background-color: #680202;
    color: white;
    /* text color */
}

.dark-theme .filter-link.active {
    background-color: var(--light-brown);
    color: white;
    /* text color */
}




/* Notices list */
.notices-list {
    padding-top: 20px;
}




/* Individual notice styling (general) */
.notice {
    border: 2px solid #FF6B45;
    padding: 15px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #FF6B45, #FF3C00);
    color: white;
    transition: background-color 0.3s, color 0.3s;
    
}


/* Hover effect for notices */
.notice:hover {
    background: linear-gradient(90deg, #070707, #B32C19);
    color: white;
}




/* color of title of each notice */
.notice h3 {
    font-size: 16px;
    font-weight: bold;
    color: #FF6B45;

    margin-bottom: 10px;
}


/* Additional styling for pinned notices */
.notice.pinned {
    border: 2px solid #FF6B45;
    background: linear-gradient(90deg, #FF6B45, #FF3C00);
    color: white;
    
}


/* Additional styling for permanent notices */
.notice.permanent {
    border: 2px solid #FF6B45;
    background: linear-gradient(90deg, #FF6B45, #FF3C00);
    color: white;
   
}




/* Badge styling within notice */
.notice .badge {
    font-size: 12px;
    background-color: gold;
    color: black;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
}




/* Notice Title */
.notice-title {
    color: #B32C19;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}




/* Pinned Badge */
.pinned-badge {
    background-color: #B32C19;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
    
}




/* Permanent Badge */
.permanent-badge {
    background-color: #B32C19;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}

.dark-theme .permanent-badge {
    background-color: var(--brownish-yellow);
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}


/* for styling individual notice item */
.notice-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.dark-theme .notice-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--red-brown);
    color: #333333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    
}


/* Adjust the width for individual notice content */
.notice-item .notice-title {
    font-size: 24px;
    color: #FF6B45;
    font-weight: bold;
    margin-bottom: 15px;
}

.dark-theme .notice-item {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.dark-theme .notice-title {
    font-size: 24px;
    color: var(--d-yellow);
    font-weight: bold;
    margin-bottom: 15px;
}



/* Ensure the entire content is responsive*/
.notice-content {
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
    line-height: 1.5;
    
}

.dark-theme .notice-content {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5;
    
}

.notice-date {
    color: var(--dark-gray);
    font-size: 13px;
}

.dark-theme .notice-date {
    color: white;
    font-size: 13px;
}