@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);
    /* #FFFB97 */
    --orange: rgb(254, 127, 66);
    /* #FE7F42 */
    --maroon: rgb(179, 44, 26);
    /* #B32C1A */
    --gray: rgb(122, 75, 71);
    /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);
    /* #2A1617 */
    --background-color: rgb(245, 245, 245);
}

.dark-theme {
    --background-color: #2A1617;  
    --text-color: #FCFAC3;   
    --brownish-yellow: #FF9E00;   
    --brown: #995F00; 
    --red: #D20000;
    --d-yellow: #FAB020;
    --white: #fff;
    --dark-brown: #331800;
    --light-brown: #654321;
    --dark-grey: #0c0807;
    --dimgray: #696969;
    --reddish-brown: #DB6D5E;
    --red-brown: #4B2B2D;
    --redy-brown: #4F2124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    height: 100%;

}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    overflow: auto;
    gap: 20px;
}

.dark-theme .dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: auto;
    gap: 20px;
}

.sidebar {
    position: sticky;
    top: 0;
    background-color: #F4F4F4;
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.dark-theme .sidebar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .sidebar-card {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.logo-img {
    width: 140px;
    height: auto;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
     margin-bottom: 5px;
}

.dark-theme .sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white !important;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
}

.sidebar-item a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.dark-theme .sidebar-item a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar-item:hover a {
    color: white;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item.active {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.sidebar-item.active a {
    color: white;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
}

.dark-theme .sidebar p {
    font-size: 0.9em;
    color: white;
}


.sidebar-nav .menu-title {
    font-weight: 700;
    color: var(--dark-gray);
    margin-left: 5px;
}

.tracker {
    margin-top: 40px;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.dark-theme .logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.dark-theme .logout-button i {
    margin-right: 10px;
    color: white;
}

.logout-button:hover i {
    color: white;
}

.logout-button:hover span {
    color: white;
}

main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--maroon);
    border-radius: 10px;
    border: 2px solid #fff;
}

main::-webkit-scrollbar-thumb:hover {
    background-color: var(--maroon);
}

main::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

main::-webkit-scrollbar-track:hover {
    background: #e1e1e1;
}





/* Main content layout */
.main-content {
    flex-grow: 1;
    padding: 30px;
    overflow: auto;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Room Overview */
.room-overview {
    display: flex;
    justify-content: space-between;
}


/* Left Section */
.left-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.tenants-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tenants-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tenants-title {
    margin: 0;
    font-size: 1.5em;
}

.dark-theme .tenants-title {
    margin: 0;
    font-size: 1.5em;
    color: var(--white);
}

.edit-info-btn {
    background: white;
    color: var(--dark-gray);
    font-size: 1em;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-right: 20px;
    font-weight: 600;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.edit-info-btn:hover {
    opacity: 0.7;
}

.edit-info-btn:active {
    transform: scale(0.95);
    background-color: #FF7F32;
}

.tenant-info-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin-right: -15px;
}

.tenant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 325px;
    justify-content: flex-start;
    margin-top: 20px;
}

.tenant-card.tenants-template {
    background: linear-gradient(to bottom, var(--gray), var(--maroon), var(--orange));
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    gap: 15px;
    width: 260px;
    text-align: center;
    transition: transform 0.3s ease, background 0.5s ease, color 0.3s ease;
    position: relative; 
    padding-top: 60px;
}

.tenant-card.tenants-template {
    background: linear-gradient(to bottom,var(--gray), var(--maroon), var(--orange));
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    gap: 15px;
    width: 260px;
    text-align: center;
    transition: transform 0.3s ease, background 0.5s ease, color 0.3s ease;
    position: relative; 
    padding-top: 60px;
}

.tenant-card.tenants-template:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, rgba(255, 150, 80, 1) 0%, rgba(255, 127, 50, 1) 100%);
    color: black;
}

.star-icon {
    font-size: 1.5em;
    color: white;
    position: absolute; 
    top: 20px;  
    right: 15px;  
    transition: transform 0.3s ease;  
}

.star-icon:hover {
    transform: scale(1.2); 
    color: #ffd700;
}

.avatar-img {
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    max-width: 100px;
    object-fit: cover; 
    margin-top: 60px;
    margin-bottom: -30px;
    margin: 0 auto;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
}


.container {
    display: flex; 
    gap: 10px; 
    margin-top: -30px;
}

.tenant-info-wrapper, .penalty-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

.penalty-wrapper {
    max-width: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative; 
    padding-top: 50px; 
    margin-top: 18px;
    text-align: center; 
    overflow: visible;  
}

.dark-theme .penalty-wrapper {
    max-width: 200px;
    background: var(--red-brown);
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative; 
    padding-top: 50px; 
    margin-top: 18px;
    text-align: center; 
    overflow: visible;  
}

.penalty-wrapper .material-icons {
    position: absolute;
    top: -5%;  
    left: 50%;  
    transform: translateX(-50%);  
    font-size: 5em;  
    color: var(--dark-gray);  
    z-index: 2; 
}

.dark-theme .penalty-wrapper .material-icons {
    position: absolute;
    top: -5%;  
    left: 50%;  
    transform: translateX(-50%);  
    font-size: 5em;  
    color: #B32C1A;  
    z-index: 2; 
}

.penalty-title {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-gray);
    text-align: left; 
    width: 100%; 
    padding-left: 10px;
}

.dark-theme .penalty-title {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    text-align: left; 
    width: 100%; 
    padding-left: 10px;
}


.penalty-container, .keycard-container {
    background-color: #F5F5F5;  
    padding: 30px;
    border-radius: 5px;
    width: 100%;  
    margin-bottom: -18px;
}

.dark-theme .penalty-container, .keycard-container {
    background-color: var(--background-color) ;  
    padding: 30px;
    border-radius: 5px;
    width: 100%;  
    margin-bottom: -18px;
}

.tenant-avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
}

.tenants-info {
    background-color: white;
    border: 3px solid #FF7F32;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    max-width: 1000px;
    margin-bottom: 20px;
    height: auto;
    box-sizing: border-box;
}

.dark-theme .tenants-info {
    background-color: var(--background-color);
    border: 3px solid var(--reddish-brown);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    max-width: 1000px;
    margin-bottom: 20px;
    height: auto;
    box-sizing: border-box;
    color: var(--white);
}

.tenant-info-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.tenant-info-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    justify-content: flex-start;
    align-items: center;
}

.dark-theme .tenant-info-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex: 1;
    background-color: var(--red-brown);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--reddish-brown);
    justify-content: flex-start;
    align-items: center;
}


.tenant-info-card:last-child {
    border-bottom: none;
}


.tenant-info-cards>.tenant-info-card {
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}


.avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    overflow: hidden; 
    aspect-ratio: 1 / 1; 
}


/* Tenant Details */
.tenant-details p {
    margin: 5px 0;
}


.right-section {
    flex: 1;
    width: 200px !important;
    margin-top: -15px;
}

.tenant-card.tenants-template p {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 10px;
}

.room-number-card {
    background-color: white;
    color: #6F4F27;
    padding: 30px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    box-shadow: 0 14px 100px rgba(0, 0, 0, 0.1);
    display: flex;  
    flex-direction: column;  
    align-items: center; 
    justify-content: flex-start;  
    gap: 20px;
}

.dark-theme .room-number-card {
    background-color: var(--red-brown);
    color: #6F4F27;
    padding: 30px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    box-shadow: 0 14px 100px rgba(0, 0, 0, 0.1);
    display: flex;  
    flex-direction: column;  
    align-items: center; 
    justify-content: flex-start;  
    gap: 20px;
}

.room-number-card:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.dark-theme .room-number-card:hover {
    background-color: var(--redy-brown);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.circle {
    position: relative;
    background-color: #2a1617;  
    color: white; 
    border-radius: 50%;
    width: 200px;  
    height: 200px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    margin: 0 auto;
    box-shadow:
        0 0 0 10px white,  
        0 0 0 20px var(--maroon),  
        0 8px 20px rgba(0, 0, 0, 0.6);
    text-align: center; 
    margin-top: 15px;
}

.dark-theme .circle {
    position: relative;
    background-color: #2a1617;  
    color: white; 
    border-radius: 50%;
    width: 200px;  
    height: 200px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    margin: 0 auto;
    box-shadow:
        0 0 0 10px var(--red-brown),  
        0 0 0 20px var(--maroon),  
        0 8px 20px rgba(0, 0, 0, 0.6);
    text-align: center; 
    margin-top: 15px;
}

.circle h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.circle p {
    margin: 0; 
    font-size: 1.2em;  
    font-weight: bold;
    color: white;  
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 5px; 
}


.room-status-wrapper {
    display: flex; 
    align-items: center;  
    margin-top: 25px;  
    gap: 10px; 
}

.room-status-wrapper i {
    background-color: var(--maroon);  
    color: white; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 1em; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  
}

.room-status-text {
    display: flex;  
    flex-direction: column; 
    justify-content: flex-start; 
    color: #333;  
}

.dark-theme .room-status-text {
    display: flex;  
    flex-direction: column; 
    justify-content: flex-start; 
    color: white;  
}

.room-status-text p {
    margin: 0; 
    font-size: 1em; 
    justify-content: flex-start;
}

.row-container i {
    background-color: rgb(243, 240, 240);  
    color: black; 
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.row-container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    color: #333;
    width: 100%; 
    flex-wrap: wrap;  
}

.row-container p {
    margin: 0; 
    font-size: 0.9em;  
    white-space: normal;  
    word-wrap: break-word; 
    overflow-wrap: break-word;  
    max-width: 100%; 
}

.row-container .row-text-title {
    font-weight: bold;
    overflow-wrap: break-word;
}

.first-row, .second-row, .third-row {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 8px; 
}

.first-row .row-container, .second-row .row-container, .third-row .row-container {
    flex: 1; 
}

.first-row .row-container, .second-row .row-container, .third-row .row-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
    
}

.first-row .row-container {
    margin-right: 20px;
    margin-top: 20px;
}

.dark-theme .first-row .row-container {
    margin-right: 20px;
    margin-top: 20px;
    color: white;
}

.dark-theme .second-row .row-container {
    color: white;
}

.dark-theme .third-row .row-container {
    color: white;
}

.end-row {
    height: 40px;  
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));  
    margin-top: 30px;  
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
    width: 100%;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}


.room-details-header {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.welcome-header {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.7);
    margin: 0;
    line-height: 1.2;
}

.room-details-header {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.dark-theme .header h1{
color: var(--white);
}

.dark-theme .header h2{
    color: var(--reddish-brown);
    }