@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);
    /* #FFFB97 */
    --orange: rgb(254, 127, 66);
    /* #FE7F42 */
    --maroon: rgb(179, 44, 26);
    /* #B32C1A */
    --gray: rgb(122, 75, 71);
    /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);
    /* #2A1617 */
    --background-color: rgb(245, 245, 245);
}

.dark-theme {
    --background-color: #2A1617;  
    --text-color: #FCFAC3;   
    --brownish-yellow: #FF9E00;   
    --brown: #995F00; 
    --red: #D20000;
    --d-yellow: #FAB020;
    --white: #fff;
    --dark-brown: #331800;
    --light-brown: #654321;
    --dark-grey: #0c0807;
    --dimgray: #696969;
    --reddish-brown: #DB6D5E;
    --red-brown: #4B2B2D;
    --redy-brown: #4F2124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    height: 100%;

}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    overflow: auto;
    gap: 20px; 
}

.dark-theme .dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: auto;
    gap: 20px; 
}

.sidebar {
    position: sticky;
    top: 0;
    background-color: #F4F4F4;
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.dark-theme .sidebar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .sidebar-card {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.logo-img {
    width: 140px;
    height: auto;
}

.announcement-header {
    text-align: left;
    margin-bottom: 20px;
}

.subtext {
    font-size: 1rem; 
    color: #757575; 
    margin: 0;
}

.settings-header h1 {
    font-size: 2rem; 
    font-weight: bold;
    color: #333; 
    margin: 5px 0 10px;
}

.divider-line {
    border: none;
    border-top: 1px solid #ddd; 
    margin: 0;
}


.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
     margin-bottom: 5px;
}

.dark-theme .sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white !important;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
}

.sidebar-item a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.dark-theme .sidebar-item a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar-item:hover a {
    color: white;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item.active {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.sidebar-item.active a {
    color: white;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
}

.dark-theme .sidebar p {
    font-size: 0.9em;
    color: white;
}


.sidebar-nav .menu-title {
    font-weight: 700;
    color: var(--dark-gray);
    margin-left: 5px;
}

.tracker {
    margin-top: 40px;
}

.content-wrapper {
    display: flex;  
    justify-content: flex-start;  
    gap: 60px; 
    width: 100%;
}

.choose-style-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    width: 100%;
    gap: 20px; 
}

.white-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 350px; 
    height: 290px;
}

.dark-theme .white-card {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 350px; 
    height: 290px;
}

.card-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-item {
    list-style: none;
    margin-bottom: 15px;
}

.card-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #F9F9F9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-theme .card-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #F6F6E6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-link:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.card-link i {
    margin-right: 10px;
}

.card-link span {
    font-weight: 500;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}

.header-left h3 {
    font-size: 1.2em;
    color: #888;
}

.dark-theme .header-left h3 {
    font-size: 1.2em;
    color: white;
}

.header-left h1 {
    font-size: 2.5em;
    margin-top: 5px;
}

.dark-theme .header-left h1 {
    font-size: 2.5em;
    margin-top: 5px;
    color: var(--reddish-brown);
}

.room-header {
    background: linear-gradient(to right, #7D2E28, #B42A1D, #FD7F42);
    padding: 50px 50px;
    border-radius: 15px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.room-header h1 {
    font-size: 3em;
    margin-bottom: 5px;
}

.room-header .room-greeting {
    font-size: 1.3em;
    margin-top: 40px;
    margin-bottom: -5px;
}


.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.dark-theme .logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.dark-theme .logout-button i {
    margin-right: 10px;
    color: white;
}

.logout-button:hover i {
    color: white;
}

.logout-button:hover span {
    color: white;
}

.dashboard-container::-webkit-scrollbar {
    width: 12px; 
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: var(--maroon);
    border-radius: 10px; 
    border: 2px solid #fff;
}

.dashboard-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--maroon);
}

.dashboard-container::-webkit-scrollbar-track {
    background: #f1f1f1;  
    border-radius: 10px;  
}

.dashboard-container::-webkit-scrollbar-track:hover {
    background: #e1e1e1; 
}

.main-content {
    display: flex;  
    flex-direction: column;  
    gap: 20px;  
    padding-top: 20px;  
    margin-left: 20px;
}

.feedback-section {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    min-width: 1000px;  
    height: 700px;
}

.dark-theme .feedback-section {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    min-width: 1000px;  
    height: 700px;
}

.feedback-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.dark-theme .feedback-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.feedback-section p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.dark-theme .feedback-section p {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.dark-theme .form-group label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
}

textarea:focus {
    border-color: #FF7A00; /* Matches your orange color */
    outline: none;
    box-shadow: 0 0 5px rgba(255, 122, 0, 0.5);
}

.rating-group {
    display: flex;
    gap: 5px;
}

.rating-group input[type="radio"] {
    display: none;
}

.rating-group label {
    font-size: 1.5rem;
    color: #DDD;
    cursor: pointer;
    transition: color 0.3s ease;
}

.rating-group label:hover,
.rating-group label:hover ~ label,
.rating-group input[type="radio"]:checked ~ label {
    color: #FF7A00; /* Matches your orange color */
}

.btn-submit {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background: linear-gradient(to right, #6D391C, #E66B00);
}

.emoji-group {
    display: flex;
    gap: 20px;
}

.emoji-group input[type="radio"] {
    display: none;
}

.emoji-group label {
    cursor: pointer;
}

.emoji-group label .emoji {
    font-size: 2rem;
}

.emoji-group input[type="radio"]:checked + label .emoji {
    transform: scale(1.2);
}

.card-link.active {
    background-color: rgba(255, 158, 0, 0.18);
    color: var(--maroon);
    border: 1px solid var(--maroon);
    border-right: 6px solid var(--maroon);   
    transition: opacity 0.3s ease, border-right 0.3s ease;   
}

.dark-theme .card-link.active {
    background-color: rgba(246, 246, 230, 1);
    color: var(--d-yellow);
    border: 1px solid var(--d-yellow);
}

.feedback-section h3 {
    font-weight: 600;
    color: var(--dark-gray);
}

.dark-theme .feedback-section h3 {
    font-weight: 600;
    color: #F6F6E6;
}

.feedback-section p {
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.dark-theme .feedback-section p {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

#feedbackForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--dark-gray);
}

.dark-theme #feedbackForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--white);
}

#feedbackForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.emoji-feedback {
    text-align: center;
    margin: 20px 0;
}

.emoji-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    gap: 15px;
}

.emoji-feedback p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.emoji-feedback label {
    cursor: pointer;
}

.emoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
    user-select: none;  
}

.emoji {
    font-size: 30px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.label-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-gray);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: inline-block;  
    width: auto; 
    padding: 8px 16px;  
    font-size: 16px;  
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;  
    margin-top: 10px; 
}

button[type="submit"]:hover {
    background: transparent;
    color: var(--maroon);
    border: 1px solid var(--maroon);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .emoji-container {
    border-color: var(--maroon);
    background-color: rgba(255, 158, 0, 0.1);
    transform: scale(1.1);
}

input[type="radio"]:checked + .emoji-container .emoji {
    transform: scale(1.2);
    color: var(--maroon);
}