@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: rgb(255, 251, 151);
    /* #FFFB97 */
    --orange: rgb(254, 127, 66);
    /* #FE7F42 */
    --maroon: rgb(179, 44, 26);
    /* #B32C1A */
    --gray: rgb(122, 75, 71);
    /* #7A4B47 */
    --dark-gray: rgb(42, 22, 23);
    /* #2A1617 */
    --background-color: rgb(245, 245, 245);
}

.dark-theme {
    --background-color: #2A1617;  
    --text-color: #FCFAC3;   
    --brownish-yellow: #FF9E00;   
    --brown: #995F00; 
    --red: #D20000;
    --d-yellow: #FAB020;
    --white: #fff;
    --dark-brown: #331800;
    --light-brown: #654321;
    --dark-grey: #0c0807;
    --dimgray: #696969;
    --reddish-brown: #DB6D5E;
    --red-brown: #4B2B2D;
    --redy-brown: #4F2124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    height: 100%;

}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    overflow: auto;
    gap: 20px; 
}

.dark-theme .dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: auto;
    gap: 20px; 
}

.sidebar {
    position: sticky;
    top: 0;
    background-color: #F4F4F4;
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.dark-theme .sidebar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    width: 300px;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: all .25s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .sidebar-card {
    background-color: var(--red-brown);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.logo-img {
    width: 140px;
    height: auto;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
     margin-bottom: 5px;
}

.sidebar-item:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
}

.sidebar-item a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.dark-theme .sidebar-item a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar-item:hover a {
    color: white;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item.active {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.sidebar-item.active a {
    color: white;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
}

.dark-theme .sidebar p {
    font-size: 0.9em;
    color: white;
}


.sidebar-nav .menu-title {
    font-weight: 700;
    color: var(--dark-gray);
    margin-left: 5px;
}

.tracker {
    margin-top: 40px;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.dark-theme .logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.dark-theme .logout-button i {
    margin-right: 10px;
    color: white;
}

.logout-button:hover i {
    color: white;
}

.logout-button:hover span {
    color: white;
}

.dashboard-container::-webkit-scrollbar {
    width: 12px; 
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: var(--maroon);
    border-radius: 10px; 
    border: 2px solid #fff;
}

.dashboard-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--maroon);
}

.dashboard-container::-webkit-scrollbar-track {
    background: #f1f1f1;  
    border-radius: 10px;  
}

.dashboard-container::-webkit-scrollbar-track:hover {
    background: #e1e1e1; 
}

/* main content styles */

.main-content {
    flex: 1;
    padding: 30px;
    margin-left: 20px;
    transition: all 0.35s ease-in-out;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.welcome-text {
    font-size: 1.2rem;
    color: #555;
    margin: 0;
}

.dark-theme .welcome-text {
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.header-left h1 {
    font-size: 2.5em;
    margin-top: 5px;
    font-weight: bold;
}

.dark-theme .header-left h1 {
    font-size: 2.5em;
    margin-top: 5px;
    font-weight: bold;
    color: var(--reddish-brown);
}

.upper-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}


.form {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 300px;
}

.form h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 32px;
}


.add-btn {
    background-color: #331800;
    padding: 15px 35px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: opacity 0.1s ease-in-out;
    display: inline-flex; 
    align-items: center;  
    font-size: 18px;
    white-space: nowrap;  
}

.add-btn:hover {
    opacity: 0.8;
}

.add-btn .fa-user-plus {
    font-size: 30px;  
    margin-right: 10px;  
}

.analytics-container {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: white;
    padding: 15px 60px;
    border-radius: 15px;
    display: flex;  
    gap: 20px;  
    align-items: center;  
    justify-content: flex-start;  
    overflow-x: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    max-height: 200px;
    position: relative; 
}

.analytics-container .left-side {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin-right: 70px;
}

.analytics-container .left-side h4 {
    font-weight: 800;
    text-align: left; 
    margin-right: 20px;  
    margin-top: 10px;
    font-size: 36px;
}

.left-p {
    font-size: 12px;
}

.analytics-container .left-side p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;  
    margin-right: 20px; 
}

.analytics-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;  
}

.analytics-card {
    background: #F6F6E6;
    color: #000000;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px; 
    width: 200px; 
    margin-top: auto;
    margin-bottom: auto;
}

.analytics-card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.analytics-card p {
    text-align: center;
    margin-top: 0;
    font-size: 1em;
}

.fa-user-group {
    background: rgb(250, 249, 249);
    padding: 10px;
    border: 1px solid var(--orange);
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;  
    top: 50%; 
    left: 32%; 
    transform: translate(-50%, -50%);  
    z-index: 2;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
    display: flex;  
    justify-content: center;  
    align-items: center; 
    font-size: 26px;  
    line-height: 1;  
}

.count {
    font-weight: 700;
    font-size: 65px !important;
    margin-top: 15px;
    margin-bottom: -20px;
}

.material-icons {
    position: absolute;
    top: 10px;
    right: 10px; 
    font-size: 20px; 
    color: #000000; 
}

.middle-container{
    border-radius: 10px;  
    border: 2px solid var(--maroon); 
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
}

.dark-theme .middle-container{
    background-color: var(--red-brown);
    border-radius: 10px;  
    border: 2px solid var(--orange); 
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
}

.bottom-container{
    border-radius: 10px;  
    border: 2px solid var(--maroon); 
    margin-bottom: 20px;
    padding: 15px;
}

.dark-theme .bottom-container{
    background-color: var(--red-brown);
    border-radius: 10px;  
    border: 2px solid var(--orange); 
    margin-bottom: 20px;
    padding: 15px;
}

.table-dark {
    background-color: #FF7F42;
    color: white; 
}

.table-dark th {
    background-color: #FF7F42;
    color: white; 
}


.table-container {
    border-collapse: collapse;
    border-radius: 10px; 
}

.dark-theme .table-container {
    border-collapse: collapse;
    border-radius: 10px; 
}


.table-bordered th,
.table-bordered td {
    border-top: 0; 
    border-bottom: 0; 
}

.table td {
    text-align: center !important;
}

.table thead tr:first-child th.text-end {
    text-align: center !important;
}

.table-bordered tr {
    border-left: 1px solid #dddddd00; 
    border-right: 1px solid #dddddd00; 
    border-top: 1px solid #dddddd00;
}

.table-bordered th {
    border-collapse: collapse; 
    border-bottom: 1px solid #dddddd00;
}

.middle-container-header {
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 15px;  
}

.middle-container .log-header,
.bottom-container .log-header {
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline; 
}

.dark-theme .middle-container .log-header,
.bottom-container .log-header {
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline; 
    color: var(--white);
}

.middle-container .log-header span,
.bottom-container .log-header span {
    font-size: 1rem; 
    font-weight: normal; 
    color: #555; 
    vertical-align: baseline; 
}

.search-bar {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-bar input {
    border-radius: 15px;
    padding: 5px 10px 5px 40px;
    font-size: 14px;
    width: 250px;
    height: 35px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
}

.search-bar .search-icon {
    position: absolute;
    left: 40px;
    top: -5%;
    transform: translateY(-50%);
    color: var(--dark-gray);
    font-size: 18px;
    margin-right: 5px;
}

.table-bordered{
    text-align: center;

}

.modal-content {
    border-radius: 10px;
    border: 3px solid var(--orange); 
}

.dark-theme .modal-content {
    border-radius: 10px;
    border: 3px solid var(--orange); 
    background-color: var(--red-brown);
    color: white;
}

.modal-body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.dark-theme .modal-body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    color: white;
}

.button-group {
    display: flex; 
    gap: 10px; 
}

.btn-primary.regular {
    background: #F6F6E6;
    border: 2px solid var(--maroon);
    color: var(--maroon);
    border-radius: 15px;
    padding: 15px;
    width: 170px;
    font-weight: bold;
    font-size: 18px;
}

.btn-primary.regular:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: #F6F6E6;
}

.btn-primary.overnight {
    background: #F6F6E6;
    border: 2px solid var(--maroon);
    color: var(--maroon);
    border-radius: 15px;
    padding: 15px;
    width: 170px;
    font-weight: bold;
    font-size: 18px;
}

.btn-primary.overnight:hover {
    background: linear-gradient(to right, var(--gray), var(--maroon), var(--orange));
    color: #F6F6E6;
}

.modal-body h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 5px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

form input,
form select {
    background-color: #f1f1f1;   
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-bottom: 6px;
    transition: all 0.3s ease;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
}

.search-bar input:focus {
    outline: none;  
    box-shadow: 0px 2px 2px rgba(255, 165, 0, 0.8); 
    border-color: orange; 
}

button.btn-primary {
    background: linear-gradient(to right, var(--orange), var(--maroon), var(--gray));
    color: white;
    border: none;
    padding: 5px 25px;
    font-weight: 600;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

button.btn-primary:hover {
    opacity: 0.7;
}

button.btn-secondary {
    background: #F6F6E6;
    color: var(--maroon);
    border: 1px solid var(--maroon);
    padding: 5px 25px;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 550px;
    transition: opacity 0.3s ease;
}

button.btn-secondary:hover {
    opacity: 0.7;
    background: var(--maroon);
    color: white;
}

button.regular.active,
button.overnight.active {
    opacity: 0.7 !important;
    background: var(--maroon) !important;
    color: white !important;
}

.regular span {
    background: var(--maroon);
    color: white !important;
    padding: 8px 15px;
    border-radius: 40px;
}

.overnight span {
    background: var(--orange);
    color: white !important;
    padding: 8px 15px;
    border-radius: 40px;
}

.no-request {
    font-style: italic;
    color: #888 !important;
    background-color: #f9f9f9;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    font-weight: normal;
}