* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
}

.sidebar {
    background-color: #F4F4F4;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: -15px;
    margin-top: -30px;
}

.logo-img {
    width: 140px;
    height: auto;
}

.sidebar p {
    font-size: 0.9em;
    color: #666;
}

.menu-title {
    font-weight: bold;
    color: #0a0a0a;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
}

.menu ul li.active a {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

.tracker ul {
    list-style: none;
}

.tracker ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 8px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.logout-container {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.logout-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
}

.logout-button i {
    margin-right: 10px;
    color: #A22F05;
}

.logout-button:hover {
    background: linear-gradient(90deg, #A22F05 0%, #FF6B45 100%);
    color: white;
}

