<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px"/>
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Tenant</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Unit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tracker</a>
        </li>
      </ul>
      <img src="/images/defaultUser.webp" alt="Profile" class="user-pic" onclick="toggleMenu()"/>
      <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/images/defaultUser.webp" alt="Profile" width="40px"/>
          {{#each rows}}
          <h3>{{this.adminFirstName}} {{this.adminLastName}}</h3>
          {{/each}}
        </div>
        <hr/>

        <a href="#" class="sub-menu-link">
          <i class="material-icons">person</i>
          <p>Edit Account</p>
          <span>></span>
        </a>
        <a href="#" id="logoutButton" class="sub-menu-link">
          <i class="material-icons">logout</i>
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
    </div>
  </div>
</nav>

{{#each rows}}
<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-4" style="flex: 0 0 30%; max-width: 30%;">
      <a href="/admin/dashboard/userManagement">User Management</a>
    </div>

    <div class="col-4" style="flex: 0 0 35%; max-width: 35%;">
      <h2>Hi, {{this.adminFirstName}}</h2>
    </div>

    <div class="col-4" style="flex: 0 0 35%; max-width: 35%;">
      <p>This is the middle section content.</p>
    </div>
  </div>
</div>
{{/each}}

<script src="/js/adminDashboard.js"></script>
