<div class="container-fluid vh-100">
    <div class="forgot-container">
        <div class="main-container">
            <h1>Reset Password</h1>       

            <form action="/api/auth/tenant/reset-password/{{token}}" method="POST" id="resetForm">
                <div class="input-container">
                    <input type="password" class="form-control" id="tenantPassword" name="tenantPassword" placeholder="New password" required>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <div class="input-container">
                    <input type="password" class="form-control" id="confirmTenantPassword" name="confirmTenantPassword" placeholder="Confirm New password" required>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <button type="submit" class="btn btn-primary">Set New Password</button>
            </form>     
        </div>
    </div>
</div>


<script src="/js/changeTenantPassword.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>