<div class="content">
    <div class="logo">
        <img src="/images/hiveLight.png" alt="Hive Logo" width="400px" />
    </div>
    <p class="intro">Please select your</p>
    <h2>USER TYPE</h2>
    <div class="user-choice">
        <div class="card-wrapper tenant-wrapper">
            <a href="/tenant/login" class="tenant" onclick="selectCard(this)">
                <i class="material-icons check">check_circle</i>
                <i class="material-icons person">person_add</i>
                <p>Tenant</p>
            </a>
        </div>
    
        <div class="card-wrapper admin-wrapper">
            <a href="/admin/login" class="admin" onclick="selectCard(this)">
                <i class="material-icons check">check_circle</i>
                <i class="material-icons person">manage_accounts</i>
                <p>Admin</p>
            </a>
        </div>
    
    </div>
</div>
<footer class="lower">

</footer>

<script src="/js/home.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const theme = localStorage.getItem('theme');
    const logo = document.getElementById('logo');

    // Set the logo image based on the theme
    if (theme === 'dark') {
        document.body.classList.add('dark-theme');
        logo.src = '/images/hiveDark.png';
    } else {
        document.body.classList.remove('dark-theme');
        logo.src = '/images/hiveLight.png';
    }
  });
</script>
