<div class="top">
    <img src="/images/hiveLight.png" alt="Hive Logo" width="150px" class="logo"/>
    <a href="/home" class="signIn">Sign In</a>
</div>

<div class="main-container">
    <h1 class="title">Hive Makes Dorm <br>Management Easy</h1>
    <p>Simplify your routines, collaborate effortlessly, and thrive in an <br>organized space.</p>
<!--     <a href="#" class="get-hive-free" id="downloadButton">Get Hive Free</a> -->
    <a href="https://drive.google.com/uc?export=download&id=1QjCzqeozzzO9ztjJthNrXhsof-ot0eWV" class="get-hive-free" id="downloadButton" target="_blank">Get Hive Free</a>
</div>

<script src="/js/introduction.js"></script>
