<div class="container-fluid vh-100">
    <div class="forgot-container">
        <div class="main-container">
            <div class="body">
                <h1>Forgot Password</h1>
                <i class="fa-regular fa-envelope"></i>
                <p>If an account exists for <strong>{{adminEmail}}</strong>, <br> you will receive a password reset link shortly.</p>
            </div>
            <div class="footer">
                <a href="/admin/login" class="back-to-login">
                    <i class="fa-solid fa-arrow-left"></i> Back to Login
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>