<div class="dashboard-container">
    <aside class="sidebar">
        <div class="sidebar-card">
            <div class="d-flex">
                <div class="logo">
                    <a href="/tenant/dashboard">
                        <img src="/images/hiveLight.png" id="logo" alt="Hive Logo" class="logo-img">
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <p class="menu-title">Menu</p>
                <li class="sidebar-item">
                    <a href="/tenant/dashboard" class="sidebar-link">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/room-details" class="sidebar-link">
                        <i class="fas fa-door-open"></i>
                        <span>Room Details</span>
                    </a>
                </li>
                <p class="menu-title tracker">Tracker</p>
                <li class="sidebar-item">
                    <a href="/tenant/utilities" class="sidebar-link">
                        <i class="fas fa-lightbulb"></i>
                        <span>Utilities and Bills</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/announcement" class="sidebar-link">
                        <i class="fas fa-bullhorn"></i>
                        <span>Announcement</span>
                    </a>
                </li>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/visitors" class="sidebar-link">
                        <i class="fas fa-clipboard-check"></i>
                        <span>Visitors</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/maintenance" class="sidebar-link">
                        <i class="fas fa-tools"></i>
                        <span>Maintenance</span>

                </li>
            </ul>
            </li>
            <li class="sidebar-item active">
                <a href="/tenant/customize" class="sidebar-link">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
            <div class="sidebar-footer">
                <a href="#" id="logoutButton" class="logout-button sidebar-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </aside>

    <main class="main-content">
        <header class="dashboard-header">
            <div class="header-left">
                <h3>Welcome to Hive</h3>
                <h1 class="dashboard-title">Account Settings</h1>
            </div>
        </header>

        <div class="content-wrapper">
            <!-- New Card Section Styled Like Sidebar -->
            <div class="white-card">
                <ul class="card-nav">
                    <li class="card-item">
                        <a href="/tenant/customize" id="customize-link" data-path="/tenant/customize" class="card-link">
                            <i class="fas fa-moon"></i>
                            <span>Customize</span>
                        </a>
                    </li>
                    <li class="card-item">
                        <a href="/tenant/feedback" id="feedback-link" data-path="/tenant/feedback" class="card-link">
                            <i class="fas fa-comment"></i>
                            <span>Feedback and Support</span>
                        </a>
                    </li>
                    <li class="card-item">
                        <a href="/tenant/resetPassword" id="resetPassword-link" data-path="/tenant/resetPassword"
                            class="card-link">
                            <i class="fas fa-lock"></i>
                            <span>Password Reset</span>
                        </a>
                    </li>
                    <li class="card-item">
                        <a href="/tenant/settings/activity-log" id="activity-log-link"
                            data-path="/tenant/settings/activity-log" class="card-link">
                            <i class="fa-regular fa-clipboard"></i>
                            <span>Activity Log</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="choose-style-container">
                <div class="password-reset-section">
                    <h2>Change Password</h2>
                    <p>Your new password must be different from previously used passwords.</p>

                    <form id="updatePasswordForm" action="/api/auth/update-tenant-password" method="POST">
                        <div>
                            <div class="input-container" style="margin-bottom: 15px;">
                                <label for="currentPassword">Current Password:</label>
                                <input type="password" id="currentPassword" name="currentPassword" required>
                                <i class="fa-solid fa-unlock-keyhole"></i>
                                <p class="password-info">To change your password, please fill in the fields below.</p>
                            </div>

                            <div class="input-container" style="margin-bottom: 15px;">
                                <label for="newPassword">New Password:</label>
                                <input type="password" id="newPassword" name="newPassword" required>
                                <i class="fa-solid fa-unlock-keyhole"></i>
                            </div>

                            <div class="input-container" style="margin-bottom: 15px;">
                                <label for="confirmPassword">Confirm New Password:</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" required>
                                <i class="fa-solid fa-unlock-keyhole"></i>
                                <p class="password-info">Your password must contain at least 8 characters, it must also
                                    include at
                                    least one uppercase letter, one lowercase letter, one number, and one special
                                    character.</p>
                            </div>

                            <input type="hidden" id="adminId" name="adminId" value="{{admin_id}}" />

                            <div style="text-align: center;">
                                <button type="submit">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="/js/ten-customize.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>