<div class="container">
    <header>
        <i class="material-icons">verified_user</i>
    </header>
    <h4>Enter OTP Code</h4>
    <form action="#">
        <div class="input-field">
            <input type="number" />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
            <input type="number" disabled />
        </div>
        <button type="button">Verify</button>
    </form>
</div>

<script src="/js/verifyEmail.js"></script>