<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon 1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/dashboard1.css"/>
    <title>Announcement</title>
    <link rel="stylesheet" href="../static/styles/transition.css"/>
</head>
<body>
    <div class="blur-circle"></div>
    <header> <!-- this is the header section  -->
        <div class="logo">
            <img src="../static/images/hive light.png" width="120px"/>
        </div>

        <div class="tabs">
            <ul>
                <li><a href="../templates/dashboard1.html">Dashboard</a></li>
                <li><a href="../templates/announcements1.html">Announcements</a></li>
                <li><a href="../templates/management.html">Management</a></li>
            </ul>
        </div>

        <div class="profile"></div>
    </header>

    <div class="hr-container">
        <hr/>
    </div>

    <main>
        
    </main>

    <script src="../static/js/dashboard1.js"></script>
</body>
</html>