<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon 1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/dashboard1.css"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles/transition.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="blur">
    <div class="content-container">
        <header> <!-- this is the header section  -->
            <div class="logo">
                <img src="../static/images/hive light.png" width="120px"/>
            </div>
    
            <div class="tabs">
                <ul>
                    <li><a href="../templates/dashboard1.html">Dashboard</a></li>
                    <li><a href="../templates/announcements1.html">Announcements</a></li>
                    <li><a href="../templates/management.html">Management</a></li>
                </ul>
            </div>
    
            <div class="profile"></div>
        </header>
    
        <div class="hr-container">
            <hr/>
        </div>
    
                <!-- this is the main container  -->
        <main class="main-container">
            <!-- container for tenant information -->
            <div class="tenants">
                <p>Tenant Information</p>
    
                <!-- tenant separate infos here -->
                 <div class="tenants-container">
    
                    <div class="tenant-forpopup">
                        <a href="#" onclick="toggle1()">
                            <div class="tenant-container">
                                <div class="tenant-profile"></div>
                                <p>Tenant A</p>
                            </div>
                        </a>

                        <a href="#" onclick="toggle1()">
                            <div class="tenant-container">
                                <div class="tenant-profile"></div>
                                <p>Tenant B</p>
                            </div>
                        </a>
                        
                        <a href="#" onclick="toggle1()">
                            <div class="tenant-container">
                                <div class="tenant-profile"></div>
                                <p>Tenant C</p>
                            </div>
                        </a>
                    </div>

                 </div>
    
                 <div class="seemore-container">
                    <button id="show-seemore" class="seemore">
                        <div class="count"></div>
                        <p>See More</p>
                        <span><i class="material-icons" id="three-dots">more_horiz</i></span>
                    </button>
                </div>
            </div>
    
            <!-- container for admin pages  -->
            <div class="admin">
                <div class="main-profile"></div>
                <div class="admin-details">
                    <span class="admin-name">Hi, Admin Name</span>
                    <p class="admin-desc">Here's an overview of your properties</p>
                </div>
    
                <div class="announcement-overview">
                    <p>Announcements</p>
                    <span class="view-more">
                        <a href="../templates/announcements1.html">
                            <img src="../static/images/maximize.png" width="25px"/>
                        </a>
                    </span>
    
                    <div class="announcement-container"></div>
                </div>
    
                <div class="management-overview">
                    <p>Management</p>
                    <span class="view-more">
                        <a href="../templates/management.html">
                            <img src="../static/images/maximize.png" width="25px"/>
                        </a>
                    </span>
                    
                    <div class="management-container"></div>
                </div>
            </div>
    
            <!-- container for analytics  -->
            <div class="analytics">
                <p>Analytics</p>
    
                <div class="analytic1">
                    <div class="icon"></div>
                </div>
    
                <div class="analytic2">
                    <div class="icon"></div>
                </div>
    
                <div class="analytic3">
                    <div class="icon"></div>
                </div>
    
                <div class="analytic4">
                    <div class="icon"></div>
                </div>
    
                <div class="analytic5">
                    <div class="icon"></div>
                </div>
            </div>
        </main>
    </div>

    <div class="tenant-popup" id="popup">
        <h2>Personal Details</h2>
        <div class="deets-profile"></div>
        <span>
            <a href="#" onclick="toggle1()">
                <i class="material-icons" id="close">cancel</i>
            </a>
        </span>
        <h3 class="name">Tenant A</h3>
        <div class="deets">
            <p>
                <span><i class="material-icons">call</i> +639123456789</span> <!-- <i class="material-icons">adjust</i> -->
                <span><i class="material-icons">mail</i> tenant@example.com</span>
            </p>
        </div>
        <div class="deets-container">
            <ul class="left-deets">
                <li class="left-item">
                    <span class="que">Tenant ID</span>
                    <span class="ans">2024 - 12345</span>
                </li>
                <li class="left-deets">
                    <span class="que">Date Joined</span>
                    <span class="ans">October 12, 2024</span>
                </li>
                <li class="left-deets">
                    <span class="que">School</span>
                    <span class="ans">Polytechnic University of the Philippines</span>
                </li>
            </ul>
    
            <ul class="right-deets">
                <li class="right-item">
                    <span class="que">Address</span>
                    <span class="ans">64 Royal Ln. Sta. Mesa</span>
                </li>
                <li class="right-deets">
                    <span class="que">Guardian's Name</span>
                    <span class="ans">Angelica Payne</span>
                </li>
                <li class="right-deets">
                    <span class="que">Guardian's Number</span>
                    <span class="ans">+63123456789</span>
                </li>
            </ul>
        </div>

        <h2 class="deets-title">Utilities and Bills</h2>
    </div>

    <div class="seemore-popup">
        <div class="upper">
            <div class="close-btn">
                <i class="material-icons" id="close">cancel</i>
            </div>
            <div class="popups-container">
                <a href="#" onclick="toggle1()">
                    <div class="popup-container">
                        <div class="popup-profile"></div>
                        <p>Tenant D</p>
                    </div>
                </a>
        
                <a href="#" onclick="toggle1()">
                    <div class="popup-container">
                        <div class="popup-profile"></div>
                        <p>Tenant E</p>
                    </div>
                </a>
        
                <a href="#" onclick="toggle1()">
                    <div class="popup-container">
                        <div class="popup-profile"></div>
                        <p>Tenant F</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="lower">
            <a href="#" onclick="toggle3()">
                <div class="add-tenant">
                    <i class="material-icons" id="add-circe">add_circle</i>
                    <p>Add tenant information</p>
                </div>
            </a>
        </div>
    </div>

    <script src="../static/js/dashboard1.js"></script>
</body>
</html>