<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon 1.png"/>
    <link rel="stylesheet" href="../static/styles/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="../static/images/hive light.png" alt="Hive Logo" width="400px"/>
    </div>
    <p class="intro">Please select your</p>
    <h2>USER TYPE</h2>
    <div class="user-choice">
        <a href="#" class="tenant">
            <i class="material-icons">check_circle</i>
            <i class="material-icons">person_add</i>
            <p>Tenant</p>
        </a>
        <a href="#" class="admin">
            <i class="material-icons">check_circle</i>
            <i class="material-icons">manage_accounts</i>
            <p>Admin</p>
        </a>
    </div>
    <footer class="lower"></footer>
</body>
</html>
