<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon 1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/registration.css"/>
    <title>Registration</title>
    <link rel="stylesheet" href="../static/styles/transition.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container" id="main">
        <div class="register">
            <form action="#">
                <!-- <img src="../static/images/hive light.png" width="200px" alt="Hive Logo"/> -->
                <p class="title">Get <strong>Started!</strong></p>
                <p class="desc">New here? Register now to manage your room, payments, <br/> and stay informed about important updates.</p>
                <hr/>
                <input type="firstname" name="firstn" placeholder="First Name" required=""/>
                <input type="lastname" name="lastn" placeholder="Last Name" required=""/>
                <input type="email" name="email" placeholder="Email" required=""/>
                <input type="password" name="pswd" placeholder="Password" required=""/>
                <input type="confirm" name="confirm" placeholder="Confirm Password" required=""/>
                <button>Register</button>
            </form>
        </div>

        <!-- Login -->
        <div class="login">
            <form action="#">
                <!-- <img src="../static/images/hive light.png" width="200px" alt="Hive Logo"/> -->
                <p class="title">Welcome <strong>Back!</strong></p>
                <p class="desc">Stay on track and in control of your living experience</p>
                <hr/>
                <input type="email" name="email" placeholder="Email" required=""/>
                <input type="password" name="pswd" placeholder="Password" required=""/>
                <a href="#">Forgot Password?</a>
                <button>Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button id="signIn">Sign In</button>
                </div>
                <div class="overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start your journey with us!</p>
                    <button id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    

    <script src="../static/js/registration.js"></script>
</body>
</html>